/* index.css */
@import "tailwindcss";

/* make `dark:` respond to .dark on <html> */
@custom-variant dark (&:where(.dark, .dark *));  /* <-- add this line */

body {
  font-family: 'Oswald', sans-serif;
}
